[Unit]
Description=swiapplaunch Service
SourcePath=/etc/initscripts/swiapplaunch.sh

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/etc/initscripts/swiapplaunch.sh start
ExecStop=/etc/initscripts/swiapplaunch.sh stop

[Install]
WantedBy=multi-user.target
