[Unit]
SourcePath=/usr/bin/ipacm
Description= IPACM Service
Before= QCMAP_ConnectionManagerd.service

[Service]
Restart=no
ExecStart=/usr/bin/ipacm
User=radio
Group=radio
SupplementaryGroups=diag inet
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
